body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

video {
    display:none;
 }

 #link {
     color: white;
     text-align: center;
     font-size: 2em;
 }

 #circle {
     position: absolute;
     right: 30px;
     top: 10px;
 }